@media (max-width: 968px) {
    
    .projetos{
        margin: auto;
    }
 
 
    .btn_menu{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        gap: .5rem;
        

    }

    .menu{
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 1000;
        top:100px;
        right: 0;
        background-color:#0eaee3;
        transition: .5s;
        overflow-y: hidden;
    }

    .menu a{
        padding:1em;
        text-align: center;
        margin: auto;
        
    }

    .menu a:hover{
        background-color: #fff
    }

    #nav.on .menu{
        height: auto;
        visibility: visible;
        overflow-y:hidden;
    }

    .one, .two, .three{
        background-color: #0eaee3;
        height: 5px;
        width: 75%;
        margin: 5px auto;
    }

    .hamburger{
        width: 40px;
        height: 5px;
        display: block;
        margin-right: -25px;
        margin-top: -15px;
    }

    /* transformar em x */
    
    #nav.on .one{
        transform: rotate(45deg) translate(7px, 6px);
    }

   #nav.on .two{
    opacity: 0;
   } 

   #nav.on .three{
    transform: rotate(-45deg) translate(8px, -7px);
}


}

@media (max-width: 600px){

.projetos-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin: auto;
  padding: 2em 1em;
}

.card{
    box-sizing: content-box;
    width: 15em;
    height: auto;
}

.card-image{
    visibility: hidden;;
}


}

@media (max-width: 425px){
   .projetos-content {

    width: 100%;
    padding: .1em;

}

.card{
    width: 7em;
    background-color: #05c5e7;
    margin: .5em;
    padding: 1em;
    border-radius: 2%;
}
       

}

@media (max-width: 399px){
   
}
