@media (max-width: 968px) {
    body{
        height: 100%;
    }

    .projetos {
        margin: auto;
        width: 100%;
    }

    .projetos-cards{
        width: 100%;
        margin: auto;
        padding: auto 10em;
    }


    .btn_menu {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        gap: .5rem;


    }

    .menu {
        visibility: hidden;
        position: absolute;
        width: 60%;
        height: auto;
        z-index: 1000;
        top: 65px;
        right: 0;
        background-color: #0eaee3;
        transition: .8s;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        margin: .01em;
    }

    .menu li {
        width: 100%;
        
    }

    .menu a {
        padding: 1em;
        text-align: center;
        margin: auto;
        
        
    }

    .menu a:hover {
        background-color: #fff
    }

    #nav.on .menu {
        height: auto;
        width: 100%;
        visibility: visible;
        overflow-y: hidden;
        margin: .01em;
        box-sizing: border-box;
    }

    .one,
    .two,
    .three {
        background-color: #0eaee3;
        height: 5px;
        width: 75%;
        margin: 5px auto;
    }

    .hamburger {
        width: 40px;
        height: 5px;
        display: block;
        margin-right: -25px;
        margin-top: -15px;
    }

    /* transformar em x */

    #nav.on .one {
        transform: rotate(45deg) translate(7px, 6px);
    }

    #nav.on .two {
        opacity: 0;
    }

    #nav.on .three {
        transform: rotate(-45deg) translate(8px, -7px);
    }

    .banner {
        display: flex;
        justify-content: center;
        height: 15em;
        width: 100%;
       

    }

    .content-banner {
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        padding: 0 4em;
        width: 100%;


    }

    .icones{
    
        font-size: 28px;
    }
   




}

@media(max-width:768px){
    .projetos-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: auto;
        padding: 2em 1em;
    }

    .card {
        width: 15em;
        min-height: 10em;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .icones {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
    }

    .icones i {
        margin: auto;
        padding: .2em;
    }
}

@media (max-width: 600px) {


    .projetos-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: auto;
        padding: 2em 1em;
    }

    .card {
        width: 15em;
        min-height: 10em;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icones {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
    }

    .icones i {
        margin: auto;
        padding: .2em;
    }

}

@media (max-width: 425px) {

    .banner {
        width: 100%;
    }

    .banner-subtitle {
        width: 100%;
        font-size: .8em;
    }


    .projetos-content {

        width: 100%;
        margin: auto;

    }

    .card {
        width: 10em;
    }

    .sobre-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;

    }

    .sobre-texto {
        width: 100%;
        padding: 1em;
        text-align: center;
    }

}

@media (max-width: 399px) {
    
    .logo{
        width: 3em;
    }

    .navbar{
        height: 4em;
    }

    

    .banner {
        width: 100%;
    }

    .banner-subtitle {
        width: 100%;
        font-size: .7em;
    }
}

@media (max-width: 320px) {
    .banner {
        box-sizing: content-box;
        width: 100%;
    }

    .banner-subtitle {
        width: 100%;
        font-size: .5em;
    }


    .projetos-content {

        width: 100%;
        margin: auto;

    }

    .card {
        width: 8em;
        max-height: 10em;
        padding: 2em auto;
      
    }

    .card a,
    .card li{
        font-size: 10pt;
    }

    .icones {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
        width: 100%;
    }

    .icones i {
        margin: auto;
        padding: .1em;
        font-size: 25pt;
    }

    .sobre-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;

    }

    .sobre-texto {
        width: 100%;
        padding: 1em;
        text-align: center;
    }

}