@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');

/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}

body {
    background-color: #121213;
    color: #ffffff;
    overflow-x:hidden;

    
}


.projetos,
.about,
.contato {
    visibility: hidden;
}


.titulo{
    margin: auto;
    color: #ffff;
    padding: 0.2rem;
    border-bottom: .01em solid #05c5e7;
    width: 7em;
    margin: 1em auto;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    
}


/* FIM GERAL */

/* INICIO MENU */

.logo {
    width: 4rem;
    cursor: pointer;
    margin-right: 35em;
}



li,
a{
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    color: #ffff;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .4rem 10%;
    background-color: #0d0d0d;
}


.btn_menu{
    display: none;
}


.menu {
    list-style: none;
    display: flex;
    

}

.menu li{
    display: flex;
    padding: 0 1rem;
}

.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: #0eaee3;
    text-shadow: 0.12rem 0.12rem 0.9rem #0eaee3;
}

/* FIM MENU */


/* APRESENTAÇÃO DO SITE */


.nome h1 {
    margin: 2em;
    color: #ffff;
}

/* underline piscando */
#texto::after {
    content: '_';
    margin-left: 0.3rem;
    animation: blink 0.7s infinite;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Apresentação */
.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    width: 50%;
    margin: auto;
}



.perfil{ 
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: auto;
    border: 3px solid #05c5e7; 
}



.sub>h1 {
    color: #ffffff;
    margin: 1.25rem auto;
    text-align: center;
}

/* Links profissionais */
.links_externos {
    width: 30vh;
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

.links_externos img {
    width: 1em;
    margin-top: .2em;
}

.links_externos button {
    margin: auto .1em;

}
.links_externos button {
    padding: .1em .4em;
    background-color: #05c5e7;
    border: 0.12rem solid rgba(14, 174, 227, 1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.links_externos button:hover {
    background-color: rgba(14, 174, 227, 1);
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}

/*  INICIO PROJETOS */

.projetos {  
    background-color: #0d0d0d;
    color: #0eaee3;
    padding: 2em;
    text-align: center;
    height: 80vh;
    width: 100%;
}

/*INICIO CARDS */

.projeto-content{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    
    margin: 1em;
    justify-content: space-around;
    width: fit-content;
    max-height: 50vh;
    transition:  transform 0.5s ease-in-out;
    transform: translateX(0);
    
}



.card{
    box-sizing: border-box;
    max-width: 100%;
    max-height: 90%;
    margin-left: 30px;
    border: #a6d2da solid 2px;
    border-radius: 5px;
   
    
    
}


.card:hover{
    transform: scale(1.01);
    transition: 600ms;
}

.card-image{
    width: 90%;
    margin: auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:cover;
    padding: .2em;
    background-color: #24a2d420;
}


.card-description{
    width: 80%;
    margin: auto;
    border: #4cbae2 solid .01em;
    height: 1%;
    margin-top: .2em;
    background-color: #0683dc;
    
}

.card li{
    margin: .3em;
    font-size: .8em;
    list-style: none;
}



/* FIM CARDS */


/* FIM PROJETOS */

/* Habilidades */
.habilidades {
    height: 60vh;
    
}

.habilidades-icones {
    margin: 10vh auto;
    display: flex;
    justify-content: space-around;
    padding-top: 1.25rem;
    letter-spacing: 20pt;
    font-size: 3em;
    

}

#html:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 0.06rem 1px 7px #f67f30;

}

#css:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}

#js:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #f8dd0d;
}

#react:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #0683dc;
}

#sass:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #b04ce2;
}

#git:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #df640c;
}

#github:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}

#node:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #0eb502;
}

#db:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}


/* Sobre & Contato */

.sobre_content {
    width: 100%;
    padding: 2em;    
    display: grid;
    grid-template-columns: auto auto;
    background-color: #0d0d0d;


}

.desc {
    padding: 10px;
    display: block;
    box-sizing: content-box;
    font-size: 1em;
    text-align: left;
}


.desc p{
    margin-bottom: 2em;
}

.download{
    padding: .8em;
    border-radius: 10px;
    border: none;
    background-color: #05c5e7;
    max-width: 50vw;
}

.download:hover{
    transition: 500ms;
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}


.avatar {
    animation: float 3s ease-in-out infinite;
    margin-left: auto;
    
}

.avatar>img{
    width: 80%;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.25rem);
    }
}


.habilidades{
    padding: 2em;
}


.sobre>p {
    margin-top: 20px;
    text-align: right;
    letter-spacing: normal;
    width: 5rem;

}

/* Contato */

.contato {
    text-align: center;
    height: 40vh;
}

.contato p{
    font-size: .8em;
}

.contato  img{
    width: 3em;
}


.contato > p{
    margin-top: 1em;
}



