@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');

/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    width: 100%;
    box-sizing: content-box;
   
      

}



.projetos,
.about,
.contato {
    visibility: hidden;
}

.fundo-claro {
    background-color: #1a1a1a;
}

.fundo-escuro {
    background-color: #0d0d0d;
}


.title {
    width: 7em;
    margin: 1em auto;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #05c5e7;
    white-space: nowrap;

}

/*MENU */

.logo {
    width: 6rem;
    cursor: pointer;
    margin-right: auto;

}

li,
a {
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    color: #ffff;
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .1rem 10%;
    background-color: #1a1a1a;
}


.btn_menu {
    display: none;
}

.menu {
    list-style: none;
    display: flex;


}

.menu li {
    display: flex;
    padding: 0 1rem;
}

.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: #0eaee3;
    text-shadow: 0.12rem 0.12rem 0.9rem #58e2fb;
}

/* FIM MENU */




/* APRESENTAÇÃO DO SITE */
.content-banner h1{
     color:#fff;
     
}

/* underline piscando */
#texto::after {
    content: '_';
    margin-left: 0.3rem;
    animation: blink 0.7s infinite;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* underline piscando */

.banner{
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    background: rgb(63,224,205);
    background: linear-gradient(180deg, rgba(63,224,205,1) 0%, rgba(37,176,190,1) 27%, rgba(12,129,175,1) 57%, rgba(12,127,175,1) 83%);
}

.content-banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
  
    

}


.banner-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 10px #1a1a1a;
}




/* FIM APRESENTAÇÃO DO SITE */




/* INICIO PROJETOS */

.projetos-content {

    width: 100%;
    padding: .1em;

}

.projetos-cards{
    display: flex;
    margin: auto;
    padding: 2em 1em;
}

.card{
    width: 22em;
    background-image: linear-gradient(45deg,#3fe0cd, #0C81AF);
    margin: .5em;
    padding: 1em;
    border-radius: 5%;
    text-shadow: 1px 1px 10px #1a1a1a;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card:hover{
    transform: scale(1.02);
    transition: 800ms;
}


.card-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: max-content;

}



.projetos-content li{
    list-style: none;
    text-align: center;
}




/* FIM PROJETOS */




/* Habilidades */

.habilidades{
    width: 100%;
    height: 12em;
    margin: 2em auto;
    

}
.icones {
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 10pt;
    font-size: 3em;


}




/* INICIO SOBRE */

.sobre{
    width: 100%;
   
}


.sobre-content {
    box-sizing: border-box;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.sobre-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em;
    text-shadow: 1px 1px 5px #1a1a1a;

}


.download {
    max-width: 60%;
    padding: .8em;
    border-radius: 10px;
    border: none;
    margin: 3em auto;
    background-image: linear-gradient(to top,#3fe0cd, rgb(12, 129, 175));
    text-shadow: 1px 1px 10px #1a1a1a;
  
}

.download:hover {
    transition: 500ms;
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}

.sobre img {
    height: 12rem;
    padding: .6em;
    border-radius: 50%;
    background-image: linear-gradient(to top,#3fe0cd, rgb(12, 129, 175));

}


/* FIM SOBRE */



/* INICIO CONTATO */


.contato p {
    font-size: .8em;
}


.contato img {
    width: 3em;
}

.contato {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

/* FIM CONTATO */


/* INICIO LINKS PROFISSIONAIS */
.content-contato{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    margin: 1em auto;
    padding: 1em;
}

.contato-links {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em auto;
}

.contato-links img {
    width: 2em;
    margin-top: .2em;
    
}
.contato-links button {
    padding: .1em .4em;
    margin: .5em;
    background-image: linear-gradient(to top,#3fe0cd, rgb(12, 129, 175));
    border: 0.12rem solid rgba(14, 174, 227, 1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contato-links button:hover {
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}

/* FIM LINKS PROFISSIONAIS */

