@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');

/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}

body {
    background-color: #0d0d0d;
    color: #ffffff;
    overflow-x: hidden;

}


.projetos,
.about,
.contato {
    visibility: hidden;
}

.fundo-claro {
    background-color: #1a1a1a;
}

.fundo-escuro {
    background-color: #0d0d0d;
}


.title {
    width: 7em;
    margin: 1em auto;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #05c5e7;
    
    white-space: nowrap;

}

/*MENU */

.logo {
    width: 6rem;
    cursor: pointer;
    margin-right: auto;

}

li,
a {
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    color: #ffff;
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .2rem 10%;
    background-color: #1a1a1a;
}


.btn_menu {
    display: none;
}

.menu {
    list-style: none;
    display: flex;


}

.menu li {
    display: flex;
    padding: 0 1rem;
}

.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: #0eaee3;
    text-shadow: 0.12rem 0.12rem 0.9rem #58e2fb;
}

/* FIM MENU */




/* APRESENTAÇÃO DO SITE */


.nome {
    margin: 4em;
    color: #ffff;
}

/* underline piscando */
#texto::after {
    content: '_';
    margin-left: 0.3rem;
    animation: blink 0.7s infinite;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* underline piscando */

.content-banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 4em;
    width: 100%;
    background-image: linear-gradient(180deg, #05c5e7, #0d0d0d);
    

}

.banner-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



/* FIM APRESENTAÇÃO DO SITE */




/* INICIO PROJETOS */

.projetos-content {

    width: 100%;
    padding: .1em;

}

.projetos-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 2em 1em;
}

.card{
    width: 22em;
    background-color: #05c5e7;
    margin: .5em;
    padding: 1em;
    border-radius: 2%;
}

.card-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: max-content;

}



.projetos-content li{
    list-style: none;
    text-align: center;
}




/* FIM PROJETOS */




/* Habilidades */

.habilidades{
    width: 100%;
    height: auto;
    margin: 5em auto;

}
.icones {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    letter-spacing: 20pt;
    font-size: 3em;


}

#html:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 0.06rem 1px 7px #f67f30;

}

#css:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}

#js:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #f8dd0d;
}

#react:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #0683dc;
}

#sass:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #b04ce2;
}

#git:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #df640c;
}

#github:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}

#node:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #0eb502;
}

#db:hover {
    transform: scale(1.20);
    transition: 500ms;
    text-shadow: 1px 1px 7px #4cbae2;
}


/* INICIO SOBRE */

.sobre{
    width: 100%;

}


.sobre-content {
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.sobre-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em;
}


.download {
    max-width: 60%;
    padding: .8em;
    border-radius: 10px;
    border: none;
    margin: 3em auto;
    background-color: #05c5e7;
    
}

.download:hover {
    transition: 500ms;
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}

.sobre img {
    height: 12rem;
    padding: .6em;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #05c5e7, #0d0d0d);

}


/* FIM SOBRE */



/* INICIO CONTATO */


.contato p {
    font-size: .8em;
}


.contato img {
    width: 3em;
}

.contato {
    text-align: center;
}

/* FIM CONTATO */


/* INICIO LINKS PROFISSIONAIS */
.content-contato{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    margin: 1em auto;
    padding: 1em;
}

.contato-links {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em auto;
}

.contato-links img {
    width: 2em;
    margin-top: .2em;
    
}
.contato-links button {
    padding: .1em .4em;
    margin: .5em;
    background-color: #05c5e7;
    border: 0.12rem solid rgba(14, 174, 227, 1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contato-links button:hover {
    background-color: rgba(14, 174, 227, 1);
    box-shadow: 0.06rem 0.06rem 0.93rem 0.12rem #4cbae2;
}

/* FIM LINKS PROFISSIONAIS */

